gtk_color_scheme = "titlebar_bg_color:#000082\ntitlebar_ibg_color:#848484"

style "chrome-gtk-frame" {
	ChromeGtkFrame::frame-color = @titlebar_bg_color
	ChromeGtkFrame::inactive-frame-color = @titlebar_ibg_color

	ChromeGtkFrame::frame-gradient-size = 0
	ChromeGtkFrame::frame-gradient-color = @titlebar_ibg_color

	ChromeGtkFrame::incognito-frame-color = @titlebar_bg_color
	ChromeGtkFrame::incognito-inactive-frame-color = @titlebar_ibg_color

	ChromeGtkFrame::incognito-frame-gradient-size = 0
	ChromeGtkFrame::incognito-frame-gradient-color = @titlebar_bg_color

	ChromeGtkFrame::scrollbar-trough-color = @bg_color
	ChromeGtkFrame::scrollbar-slider-normal-color =  mix (0.21, @fg_color, @bg_color)
	ChromeGtkFrame::scrollbar-slider-prelight-color =  mix (0.31, @fg_color, @bg_color)
}

class "ChromeGtkFrame" style "chrome-gtk-frame"
