check {
    -gtk-icon-source: url("assets/checkbox-unchecked.png");
}

check:hover {
    -gtk-icon-source: url("assets/checkbox-unchecked-prelight.png");
}

check row,
check row:selected,
check row:selected:focus {
    -gtk-icon-source: url("assets/checkbox-unchecked-alt.png");
}

check row:hover,
check row:selected:hover,
check row:selected:focus:hover {
    -gtk-icon-source: url("assets/checkbox-unchecked-prelight-alt.png");
}

check:disabled {
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.png");
}

check row:disabled {
    background-color: transparent;
}

check row:disabled,
check row:selected:disabled,
check row:selected:focus:disabled {
    background-color: transparent;
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive-alt.png");
}

check:checked {
    -gtk-icon-source: url("assets/checkbox-checked.png");
}

check:checked:hover {
    -gtk-icon-source: url("assets/checkbox-checked-prelight.png");
}

check row:checked,
check row:selected:checked,
check row:selected:focus:checked {
    -gtk-icon-source: url("assets/checkbox-checked-alt.png");
}

check row:checked:hover,
check row:selected:checked:hover,
check row:selected:checked:focus:hover {
    -gtk-icon-source: url("assets/checkbox-checked-prelight-alt.png");
}

check:checked:disabled {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive.png");
}

check row:checked:disabled,
check row:selected:checked:disabled,
check row:selected:focus:checked:disabled {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive-alt.png-alt");
}

check:indeterminate {
    -gtk-icon-source: url("assets/checkbox-mixed.png");
}

check:indeterminate:hover {
    -gtk-icon-source: url("assets/checkbox-mixed-prelight.png");
}

check row:indeterminate,
check row:selected:indeterminate,
check row:selected:focus:indeterminate {
    -gtk-icon-source: url("assets/checkbox-mixed-alt.png");
}

check row:indeterminate:hover,
check row:selected:indeterminate:hover,
check row:selected:focus:indeterminate:hover {
    -gtk-icon-source: url("assets/checkbox-mixed-prelight-alt.png");
}

check:indeterminate:disabled {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive.png");
}

check row:indeterminate:disabled,
check row:selected:indeterminate:disabled,
check row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive-alt.png");
}


radio {
    -gtk-icon-source: url("assets/radio-unselected.png");
}

radio:hover {
    -gtk-icon-source: url("assets/radio-unselected-prelight.png");
}

radio row,
radio row:selected,
radio row:selected:focus {
    -GtkCheckButton-indicator-size: 13;
    -gtk-icon-source: url("assets/radio-unselected.png");
}

radio row:hover,
radio row:selected:hover,
radio row:selected:focus:hover {
    -gtk-icon-source: url("assets/radio-unselected-prelight-alt.png");
}

radio:disabled {
    -gtk-icon-source: url("assets/radio-unselected-insensitive.png");
}

radio row:disabled {
    background-color: transparent;
}

radio row:disabled,
radio row:selected:disabled,
radio row:selected:focus:disabled {
    -gtk-icon-source: url("assets/radio-unselected-insensitive-alt.png");
}


radio:checked {
    -gtk-icon-source: url("assets/radio-selected.png");
}

radio:checked:hover {
    -gtk-icon-source: url("assets/radio-selected-prelight.png");
}

radio row:checked,
radio row:selected:checked,
radio row:selected:focus:checked {
    -gtk-icon-source: url("assets/radio-selected-alt.png");
}

radio row:checked:hover,
radio row:selected:checked:hover,
radio row:selected:focus:checked:hover {
    -gtk-icon-source: url("assets/radio-selected-prelight-alt.png");
}

radio:checked:disabled {
    -gtk-icon-source: url("assets/radio-selected-insensitive.png");
}

radio row:disabled,
radio row:selected:checked:disabled,
radio row:selected:focus:checked:disabled {
    -gtk-icon-source: url("assets/radio-selected-insensitive-alt.png");
}

radio:indeterminate {
    -gtk-icon-source: url("assets/radio-mixed.png");
}

radio:indeterminate:hover {
    -gtk-icon-source: url("assets/radio-mixed-hover.png");
}

radio row:indeterminate,
radio row:selected:indeterminate,
radio row:selected:focus:indeterminate {
    -gtk-icon-source: url("assets/radio-mixed-alt.png");
}

radio row:indeterminate:hover,
radio row:selected:indeterminate:hover,
radio row:selected:focus:indeterminate:hover {
    -gtk-icon-source: url("assets/radio-mixed-hover-alt.png");
}

radio:indeterminate:disabled {
    -gtk-icon-source: url("assets/radio-mixed-insensitive.png");
}

radio row:indeterminate:disabled,
radio row:selected:indeterminate:disabled,
radio row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: url("assets/radio-mixed-insensitive-alt.png");
}
